/* stylesheet for portfolio */

body{
    color: var(--dark);
    background-color: var(--light);
}
.nav__brand a{
    font-family: 'Pacifico', sans-serif;
    font-size: 1.75rem;
    color: var(--primary);
}
.nav__brand a:hover{
    color: var(--accent);
}

.nav__link{
    font-size: 1.2rem;
    color: var(--primary);
    position: relative;
    overflow: hidden;
}
.nav__link.active::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: 45%;
    width: 5px;
    border-radius: 50%;
    bottom: -8px;
    background: var(--primary);
    height: 5px;
}
.nav__link.active:hover:before{
    width: 0px;
    height: 0px;
}
.nav__link::after{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0%;
    width: 0;
    bottom: -6px;
    background: var(--accent);
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.nav__link:hover:after{
    left: 0;
    right: auto;
    width: 100%;
}

/* header */
.intro-name{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2rem;
    margin-top: 10px;
    /* font-family: 'Poppins', sans-serif; */
}
.intro-name span{
    font-weight: bold;
}
.intro-role{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.intro-subrole{
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro-image{
    text-align: right;
}

/* gradients */

.container--widebg{
    /* background-image: linear-gradient(135deg, rgb(68, 202, 201) 0%,rgb(252, 255, 114) 100%); */
    /* background-image: linear-gradient(90deg, rgb(247, 14, 199),rgb(24, 34, 250)); */
    /* background-image: linear-gradient(3deg, rgb(249, 144, 110),rgb(225, 14, 225)); */
    background: var(--dark);
    color: var(--light);
}

/* sections */
.section-heading{
    font-size: 2.25rem;
}

.skill--list{
    justify-content: space-around;
}
.skill--logo{
    color: var(--dark);
    margin-bottom: 10px;
}
.skill--logo img{
    height: 75px; 
    filter: grayscale(0);
    margin-bottom: 10px;
    transition: all ease 0.35s;
}
.skill--logo img:hover{
    filter: grayscale(1);
    transform: scale(1.2);
}

/* projects */
.btn--viewprojects{
    font-size: 1.25rem;
    letter-spacing: 1px;
}
.btn--viewprojects:hover{
    color: var(--primary);
}
.project--card, .blog--card{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 49%;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    transition: all ease 0.35s;
}
.project--card:hover{
    border-color: var(--accent);
}

.project--image img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.project--info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding: 10px;
}
.project--tag{
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    background: var(--light);
    color: var(--accent);
}
.project--desc{
    flex-grow: 1;
    line-height: 1.5rem;
}
.project--card--buttons{
    padding-top: 10px;
    padding-bottom: 10px;
}
.project--card--buttons .fab,
.project--card--buttons .fa{
    font-size: 14px;
}

.blog--card .btn--primary{
    background-color: var(--accent);
    transition: all ease 0.35s;
}
.blog--card .btn--primary:hover{
    background-color: var(--primary);
}

/* footer */
.back--to--top{
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 3px;
    padding: 0px;
}
.back--to--top a{
    padding: 10px;
    font-size: 1.15rem;
    background-color: var(--dark);
}
.back--to--top a:hover{
    color: var(--primary);
}
.footer--link{
    font-size: 2rem;
    margin: 5px;
    color: var(--primary);
}
.footer--link:hover{
    color: var(--accent);
}